#header {
    /* border: 1px solid black; */
    background: rgb(100, 100, 100, 0);
    position: fixed;
    width: 100vw;
    height: 6vh;
}

.text_link {
    text-decoration: none;
    font-family: system-ui;
}

#right_side {
    /* border: 1px solid black; */
    position: absolute;
    width: 10vw;
    height: 4vh;
    top: 50%;
    left: 94.5%;
    transform: translate(-50%, -50%);
}

#login_text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 6px 9px;
    background-color: rgb(10 10 10);
    border-radius: 20px;
    font-size: 12px;
}

#signin_text {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 51%;
    transform: translate(-50%, -50%);
    color: rgb(62 52 64);
    padding: 6px 9px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

#question_icon {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

#center_navigation {
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: menu;
}

#center_navigation a {
    color: rgb(149 150 153);
    margin: 14px;
}


#left_side {
    /* border: 1px solid black; */
    position: absolute;
    width: 6%;
    height: 90%;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
}

#chatgpt_icon {
    position: absolute;
    width: 21%;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#chatgpt_text {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-style: menu;
    color: black;
}


#angle {
    position: absolute;
    width: 8.5%;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    opacity: 0.5
    /* color: rgb(168 168 168);
    color: red; */
}

#headline {
    font-family: system-ui;
    font-size: 35px;
    padding: 5px;
    padding-left: 0px;
    margin-bottom: 40px;
    position: relative;
    left: 140px;
}

section {
    border: 0.1px solid rgb(145, 138, 138, 0.25);
    border-radius: 27px;
    padding: 10px;
}

#ask_input {
    position: relative;
    top: 0px;
    width: 90%;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.butoms_main {
    border: 0
}

.butoms_imgs {
    width: 20px;
}

.butoms_text {
    position: relative;
    bottom: 5px;
    right: 8px;
    padding: 5px 10px;
    /* border: 1px solid black; */
    font-family: system-ui;
    color: rgb(138, 136, 136);
    font-weight: bold;
}

.butoms_imgs {
    opacity: 0.6
}

#voice_butom {
    position: relative;
    left: 190px;
    font-weight: bold;
}


#voice_text {
    color: black;
}


main {
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}